<div class="center-content">
  <div class="login-wrapper">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Angular Google Login Tutorial</mat-card-title>
      </mat-card-header>
  
      <form >
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block">Log in</button>
       
      <div *ngIf="!user">
        <a class="btn btn-outline-dark" (click)="loginWithGmail()" role="button" style="width: 100%; margin-top: 10px;padding: 12px;">
          <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
          Login with Google
        </a>
        <button mat-raised-button color="primary" style="width: 100%; margin-top: 5px; height: 50px;" (click)="facebookLogin()">Login with facebook</button>

        </div>
      </form>
    </mat-card>
  <mat-card *ngIf="user">
    <mat-card-content>
          Logged in with {{user.displayName}} <button mat-raised-button color="warn" (click)="logout()">Logout</button>
    </mat-card-content>
  </mat-card>
  </div>
  
</div>